{% comment %}
  Card Block
{% endcomment %}

{% assign count = 0 %}
{% for block in section.blocks %}
  {% assign count = count | plus: 1 %}
{% endfor %}

<div class="card-block card-block--{{ count }} card-block--{{ section.id }} ">
  {%- for block in section.blocks -%}
    <div class="card-block__item" id="{{ block.id }}" onclick="toggleActive('{{ block.id }}')">
      <div class="card-block__item__background">
        <img
          loading="lazy"
          src="{{ block.settings.background_image | image_url: width: 800, height: 800 }}"
          alt="{{ block.settings.background_image.alt | escape }}"
          width="{{ block.settings.background_image.width }}"
          height="{{ block.settings.background_image.height }}"
        >
      </div>

      {% if section.settings.overlay %}
        <div class="card-block__item__overlay"></div>
      {% endif %}

      <div class="card-block__item__content">
        <img
          loading="lazy"
          src="{{ block.settings.icon | image_url }}"
          alt="{{ block.settings.icon.alt | escape }}"
          width="{{ block.settings.icon.width }}"
          height="{{ block.settings.icon.height }}"
        >
        <h4 class="colour--white">{{ block.settings.heading }}</h4>
        {% if block.settings.button_link %}
          <p>
            <a
              href="{{ block.settings.button_link }}"
              class="button"
              style="background-color:{{ block.settings.button_colour }}"
            >
              {{- block.settings.button_label -}}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Card Block",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "card_item",
      "name": "Card item",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Stop paying too much for your subscriptions"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Secondary Button label"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "checkbox",
          "id": "overlay",
          "label": "Enable overlay",
          "default": false
        },
        {
          "type": "color",
          "id": "button_colour",
          "label": "Button colour",
          "default": "#ec1d24"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Card Block",
      "blocks": [
        {
          "type": "card_item"
        },
        {
          "type": "card_item"
        }
      ]
    }
  ]
}
{% endschema %}
