
<div class="collection" style="margin-top:10rem !important;">
  <div class="collection__grid">
    {% paginate search.results by 48 %}
      {%- for item in search.results -%}
        <div
          class="collection__grid__item"
        >
          <a href="{{ item.url }}" class="collection__grid__item__image">
            <img
              loading="lazy"
              srcset="
                {{ item.media[0] | image_url: width: 480 }} 480w,
                {{ item.media[0] | image_url: width: 800 }} 800w,
                {{ item.media[0] | image_url: width: 1920 }} 1600w,
              "
              sizes="
                (max-width: 600px) 480px,
                (max-width: 1000px) 800px,
                1000px
              "
              src="{{ item.media[0] | image_url: width: 1920 }}"
              alt="{{ item.media[0].alt | escape }}"
              width="{{ item.media[0].width }}"
              height="{{ item.media[0].height }}"
            >
          </a>

          <a href="{{ item.url }}" class="collection__grid__item__details">
            <div class="collection__grid__item__details__title">
              <h6 class="colour--red">
                <strong>{{ item.title | escape }} &nbsp;</strong>
              </h6>
            </div>
          </a>
        </div>
      {%- endfor -%}
    {% endpaginate %}
  </div>
</div>
