{% comment %}
  Filters
{% endcomment %}

<div class="filter">
  <div class="filter__wrap">
    {% comment %} <a href="/collections/most-popular" class="filter__wrap__item [ js-filter-collections ] {% if collection.title == 'Most Popular' %}active{% endif %}" data-id="Most Popular">
      <p class="colour--red"><b>Most popular</b></p>
    </a> {% endcomment %}

    {% comment %} <a href="/collections/cats" class="filter__wrap__item [ js-filter-collections ] {% if collection.title == 'Cats' %}active{% endif %}" data-id="Cats">
      <p class="colour--red"><b>Cats</b></p>
      <img src="{{ 'mini-cat.png' | asset_url }}" width="140" height="140" loading="lazy" />
    </a>

    <a href="/collections/dogs" class="filter__wrap__item [ js-filter-collections ] {% if collection.title == 'Dogs' %}active{% endif %}" data-id="Dogs">
      <p class="colour--red"><b>Dogs</b></p>
      <img src="{{ 'mini-dog.png' | asset_url }}" width="140" height="140" loading="lazy" />
    </a>

    <a href="/collections/horses" class="filter__wrap__item [ js-filter-collections ] {% if collection.title == 'Horses' %}active{% endif %}" data-id="Horses">
      <p class="colour--red"><b>Horses</b></p>
      <img src="{{ 'mini-horse.png' | asset_url }}" width="140" height="140" loading="lazy" />
    </a> {% endcomment %}
    
  </div>
</div>

<a href="#" class="filter__toggle" onclick="event.preventDefault();document.body.classList.toggle('filters-active')">
  <span class="[ js-toggle-filters-text ]">Show Filters</span>
  <span class="filter-icon">
      <b><i></i></b>
      <b><i></i></b>
      <b><i></i></b>
  </span>
</a>

{% comment %}
  Product grid
{% endcomment %}

<div class="collection">


            
  {% comment %}
    Product Filters
  {% endcomment %}
  <div class="collection__filters">

    <a href="#" class="collection__filters__toggle" onclick="event.preventDefault();document.body.classList.toggle('filters-active')">
      <span><svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11"><polygon fill="#000" fill-rule="evenodd" points="14.7 4.776 3.12 4.776 6.652 1.245 5.502 .095 0 5.597 5.502 11.1 6.652 9.95 3.12 6.419 14.7 6.419"/></svg> CLOSE<span>
    </a>

    <h4 class="colour--red">Shop by...</h4>
    
    <h6 class="collection__filters__title">Condition</h6>

    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Nasal Sprays" id="Nasal Sprays">
      <label for="Nasal Sprays">Nasal Sprays</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Pharmacist Only Medicines" id="Pharmacist Only Medicines">
      <label for="Pharmacist Only Medicines">Pharmacist Only Medicines</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Pain Relief" id="Pain Relief">
      <label for="Pain Relief">Pain Relief</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Allergy Relief" id="Allergy Relief">
      <label for="Allergy Relief">Allergy Relief</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Cough and Cold" id="Cough and Cold">
      <label for="Cough and Cold">Cough and Cold</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Eye Care" id="Eye Care">
      <label for="Eye Care">Eye Care</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Digestive Care and Heartburn" id="Digestive Care and Heartburn">
      <label for="Digestive Care and Heartburn">Digestive Care and Heartburn</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Constipation" id="Constipation">
      <label for="Constipation">Constipation</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Foot Care" id="Foot Care">
      <label for="Foot Care">Foot Care</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Mother and Baby" id="Mother and Baby">
      <label for="Mother and Baby">Mother and Baby</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Women's Essentials" id="Women's Essentials">
      <label for="Women's Essentials">Women's Essentials</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Skin Care" id="Skin Care">
      <label for="Skin Care">Skin Care</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Ear Care" id="Ear Care">
      <label for="Ear Care">Ear Care</label>
    </p>
    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-tags ]" value="Accessories" id="Accessories">
      <label for="Accessories">Accessories</label>
    </p>





    <br>
    <br>
{% comment %} 

    <h6 class="collection__filters__title">Manufacturers</h6>

    <p class="collection__filters__item">
      <input type="checkbox" class="[ js-filter-brands ]" value="Zoetis" id="Zoetis">
      <label for="Zoetis">Zoetis</label>
    </p> {% endcomment %}

  
  </div>


  {% comment %}
    Product grid
  {% endcomment %}
  
  <div class="collection__grid">


    <div class="loader">
      <div id="loader">
      <div id="shadow"></div>
      <div id="box"></div>
    </div>

  </div>

    {% for product in collections['all'].products %}

      {% assign on_sale = false %}
      {% if product.compare_at_price > product.price %}
      {%- assign on_sale = true -%}
      {% endif %}

      <div class="collection__grid__item" data-tags="{% for tag in product.tags %}{{ tag }},{% endfor %}" data-collections="{% for collection in product.collections %}{{ collection.title }},{% endfor %}" data-brand="{{ product.vendor }}">
        {% if product.media[0] %}
        <a  href="{{ product.url }}" class="collection__grid__item__image">
          
          
          <img loading="lazy"
            srcset="{{ product.media[0] | image_url: width: 480 }} 480w,
                    {{ product.media[0] | image_url: width: 800 }} 800w,
                    {{ product.media[0] | image_url: width: 1920 }} 1600w,"
            sizes="(max-width: 600px) 480px,
                   (max-width: 1000px) 800px,
                   1000px"
            src="{{ product.media[0] | image_url: width: 1920 }}"
            alt="{{ product.media[0].alt | escape }}"
            width="{{ product.media[0].width }}"
            height="{{ product.media[0].height }}">


          {% if on_sale %}
            <span class="collection__grid__item__image__sale">WHY PAY {{ product.compare_at_price | money }} ?</span>
          {% endif %}

          {% if product.available %}
          {% else %}
            <span class="collection__grid__item__image__unavailable">SOLD OUT</span>
          {% endif %}

        </a>
      {% else %}
      <a  href="{{ product.url }}" class="collection__grid__item__image">
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0617/3982/7386/products/RX_780b8dd4-821b-426c-9a6b-a4e2b3fc1c18.jpg" class="placeholder">



        {% if on_sale %}
          <span class="collection__grid__item__image__sale">WHY PAY {{ product.compare_at_price | money }} ?</span>
        {% endif %}

        {% if product.available %}
        {% else %}
          <span class="collection__grid__item__image__unavailable">SOLD OUT</span>
        {% endif %}

      </a>
      {% endif %}

      <a href="{{ product.url }}" class="collection__grid__item__details">
        <div class="collection__grid__item__details__title">
          {% comment %} <h6 class="colour--text" >{{ product.vendor }}</h6> {% endcomment %}
          <h6 class="colour--red" ><strong>{{ product.title | escape }} &nbsp;</strong></h6>
          <p style="color:#212121;">{{ product.price | money }}</p>
        </div>
      </a>
    </div>

    {% endfor %}
    
  </div>
</div>

{% schema %}
{ 
  "name": "Product Grid",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}   
{% endschema %}